body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

h4 {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
}
